.active {
  background-color: #1d4ed8;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #0f172a;

  .title {
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 1rem;
    color: #fff;
  }

  ul {
    display: flex;

    li {
      list-style: none;
    }

    li a {
      color: #fff;
      display: block;
      text-decoration: none;
      padding: 0.5rem;
      margin: 0 0.5rem;
      border-radius: 0.5rem;
    }

    li a:not(.active):hover {
      background-color: #172554;
    }
  }

  .search_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    input {
      padding: 5px;
      color: black;
      background: white;
      border-radius: 5px;
      font-size: 14px;
    }

    button {
      cursor: pointer;
      border-radius: 5px;
      padding: 5px;
      background-color: #5a5a5a;
      color: #ffff;
    }
  }

  .menu {
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;

    span {
      width: 100%;
      height: 0.4rem;
      background-color: #fff;
      border-radius: 0.2rem;
    }
  }
}

@media (max-width: 768px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: start;

    ul {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;

      li {
        width: 100%;
        text-align: center;

        a {
          margin: 0.2rem 0.5rem;
        }

        .search_container{
            margin: 2rem 0;
        }
      }
    }

    ul.open {
      display: flex;
    }
  }
}
